
.output {
  text-align:center;
  color:rgb(0, 0, 0);
  font-size:15px;
  gap:1.5rem;
  margin-top: 4rem;
  background-image: linear-gradient(to right, #E44D26 0%, #F16529 51%, #E44D26 100%);    
  padding: 0.9rem 3rem;
  text-transform: uppercase;
  color: #eee;
  box-shadow: 0 0 20px rgb(6, 6, 6);
  border-radius: 10px;
  cursor: pointer;
}

